# Git
.git
.gitignore

# Documentation
README.md
docs/

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.pytest_cache
nosetests.xml

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Local data
data/
logs/
temp/
.temp/
upload/
download/

# Configuration
.env
secure_config.py
